/* Global styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: deepskyblue;
  text-decoration: none;
}
article {
  margin: 0 auto;
  max-width: 650px;
}

/* Navbar styles*/
#mainNav.navbar {
  background-color: #7b4397; /* purple */
  background-color: #194816; /* green */
  color: white;
}

#mainNav.navbar-shrink .navbar-nav > li > a {
  color: white;
}

/* Masthead styles */
header.masthead {
  background: linear-gradient(to bottom,#7b4397,#dc2430); /* Fox original */
  background: linear-gradient(to bottom,#194816,#0d5d16);
  /*background-color: #611b4c;*/

}

/*header.masthead .container {
  background-image: url('/static/media/logo.ec278d0d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}*/

.Header-header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}

.Header-h1 {
  font-weight: 100;
}

.Header-nav {
  max-width: 650px;
  margin: 0 auto;
}




.Header-navLink {
  font-size: 8px;
  margin-right: 16px;
}

.Header-isActive {
  font-weight: bold;
  text-decoration: underline;
}

/* News */
.News-ul {
  padding: 0;
}
.News-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
.News-link {
  display: flex;
  color: #000;
}
.News-link:hover {
  box-shadow: 1px 1px 5px #999;
}
.News-placeholder {
  background-color: #eee;
  min-width: 100px;
  margin-right: 24px;
}
.News-img {
  display: block;
  height: 100%;
  max-height: 100px;
}
.News-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.News-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: deepskyblue;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* About */
.About-infoHeader {
  text-align: center;
}
.About-img {
  height: 120px;
  width: auto;
}
.About-author {
  margin-bottom: 72px;
}

/* Post */
.Post-placeholder {
  height: 366px;
  background-color: #eee;
}

.Jumbo-link {
  min-height: 100px;
  margin-bottom: 30px;
  white-space: normal;
}

.Jumbo-logo {
  max-height: 40vh;
}

.masterhead {
  text-align: centre;
}

@media (min-width: 992px) {
  header.masthead {
      height: 80vh;
      min-height: 775px;
      padding-top: 80px;
      padding-bottom: 0;
  }
}
